<div class="row data">
    <div class="row">

        <div class="col-md-6">

            <button data-toggle="modal" data-target="#modalNovo" class="btn btn-success btn-block btn-novo">Novo Veículo
            </button>

        </div>
        <div class="col-md-6 ">
            <input class="form-control input-lg" id="search" type="text" placeholder="Procurar..."
                   name="search">

        </div>
    </div>
    <br>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-padded table-data">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Placa
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Ano
                </th>
                <th>
                    Funções
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    12
                </td>
                <td>
                    Roberto Menegais
                </td>
                <td>
                    ypk-8228
                </td>
                <td>
                    Ford
                </td>
                <td>
                    2007
                </td>

                <td>
                    <button data-toggle="modal" data-target="#modalEditar" class="btn btn-sm btn-primary">Editar
                    </button>
                    <button data-toggle="modal" data-target="#modalExcluir" class="btn btn-sm btn-warning">Excluir
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-1">
            <label class="control-label" for="numberPage">Number Per Page</label>
        </div>
        <div class="col-md-3">
            <select name="numberPage" id="numberPage" class="form-control input-lg">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="col-md-6 col-md-offset-2 text-center">
            <div class="paginator">
                <a class="btn btn-sm btn-default pgn-btn-previous">Anterior</a>
                <a class="pgn-link">1</a>
                <a class="pgn-link">2</a>
                <a class="pgn-link">3</a>
                <a class="pgn-link">4</a>
                <a class="pgn-link">5</a>
                <a class="btn btn-sm btn-default pgn-btn-next">Próximo</a>
            </div>
        </div>
    </div>

    <div id="modalNovo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cadastrar novo veículo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="cadastro-form">
                            <form class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="client_id_novo">Cliente</label>
                                        <select class="form-control" name="client_id_novo" id="client_id_novo">
                                            <option value="0">Placeholder</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="plate_novo">Placa</label>
                                        <input type="text" class="form-control" name="plate_novo" id="plate_novo"
                                               placeholder="Insira a Placa">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="brand_novo">Marca</label>
                                        <input type="text" class="form-control" name="brand_novo"
                                               id="brand_novo"
                                               placeholder="Insira a Marca">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="year_novo">Ano</label>
                                        <input type="text" class="form-control" name="year_novo"
                                               id="year_novo"
                                               placeholder="Insira o Ano">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="submit"
                                               class="btn btn-success btn-block form-control cadastro"
                                               value="Criar Novo Veículo">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="modalEditar" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar Veículo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="cadastro-form">
                            <form class="form-group">

                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="id_editar">Id</label>
                                        <input type="text" class="form-control" name="id_editar" id="id_editar">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="client_id_editar">Cliente</label>
                                        <select class="form-control" name="client_id_editar" id="client_id_editar">
                                            <option value="0">Placeholder</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="plate_editar">Placa</label>
                                        <input type="text" class="form-control" name="plate_editar" id="plate_editar"
                                               placeholder="Insira a Placa">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="brand_editar">Marca</label>
                                        <input type="text" class="form-control" name="brand_editar"
                                               id="brand_editar"
                                               placeholder="Insira a Marca">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="year_editar">Ano</label>
                                        <input type="text" class="form-control" name="year_editar"
                                               id="year_editar"
                                               placeholder="Insira o Ano">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="submit"
                                               class="btn btn-success btn-block form-control cadastro"
                                               value="Salvar alterações">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="modalExcluir" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Excluir Veículo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3">
                            <buttton class="btn btn-success btn-block">Confirmar</buttton>
                        </div>
                        <div class="col-md-3">
                            <buttton class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</buttton>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>