<!DOCTYPE html>
<html lang="en" ng-app="mecanica">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../css/skin-red.min.css">

    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../lib/jquery-3.2.1.min.js"></script>
    <script src="../../js/AdminLTE.min.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>

    <script src="../../lib/angular.js"></script>
    <script src="../../lib/angular-messages.min.js"></script>
    <script src="../../js/mecanica.js"></script>
    <script src="../../js/services/configValue.js"></script>
    <script src="../../js/services/miscService.js"></script>
    <script src="../../js/services/loginAPIService.js"></script>
    <script src="../../js/controllers/loginController.js"></script>
</head>
<body class="login-page" ng-controller="loginController">
<div class="overlay"></div>
<div class="overlay-children">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <br>

                    <h1 class="text-center titulo">Projeto Mecânica</h1>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3  margin-top">
                <div class="login-form center-block bordered">
                    <h2 class="text-center">Faça seu Login</h2>
                    <br>
                    <form class="form-group" name="loginForm">
                        <label class="control-label" for="login_login">Nome de Usuário</label>
                        <input ng-class="{error : checarCampo(loginForm.login,'required')}" ng-model="usuario.login"
                               type="text" class="form-control" name="login" id="login_login"
                               placeholder="Insira seu Nome de Usuário" ng-required="true">
                        <div ng-messages="loginForm.login.$error">
                            <div ng-if="loginForm.login.$dirty || loginForm.login.$touched" ng-message="required"
                                 class="error text-center">
                                Campo Obrigatório
                            </div>
                        </div>
                        <label class="control-label" for="login_password">Senha</label>
                        <input ng-class="{error : checarCampo(loginForm.password,'required')}"
                               ng-model="usuario.password" type="text" ng-required="true" class="form-control"
                               name="password" id="login_password"
                               placeholder="Insira sua senha">
                        <div ng-messages="loginForm.password.$error">
                            <div ng-if="loginForm.password.$dirty || loginForm.password.$touched" ng-message="required"
                                 class="error text-center">
                                Campo Obrigatório
                            </div>
                        </div>

                        <button ng-disabled="loginForm.$invalid" class="btn btn-success btn-block form-control login"
                                ng-click="login(usuario,loginForm)">Log in
                        </button>
                    </form>
                    <button ng-click="limparFormulario(loginFormNovo)" data-toggle="modal" data-target="#myModal"
                            class="btn btn-danger btn-block cadastro">Não tem
                        Conta? Cadastre-se
                    </button>
                </div>


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Cadastre-se</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="cadastro-form">
                                        <form class="form-group" name="loginFormNovo">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="control-label" for="novo_name">Nome</label>

                                                    <input ng-class="{error : checarCampo(loginFormNovo.name,'required')}"
                                                           ng-required="true" ng-model="usuario.name" type="text"
                                                           class="form-control" name="name" id="novo_name"
                                                           placeholder="Insira seu Nome">
                                                    <div ng-messages="loginFormNovo.name.$error">
                                                        <div ng-if="loginFormNovo.name.$dirty || loginFormNovo.name.$touched"
                                                             ng-message="required" class="error text-center">
                                                            Campo Obrigatório
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label" for="novo_login">Login</label>
                                                    <input ng-class="{error : checarCampo(loginFormNovo.login,'required')}"
                                                           ng-required="true" ng-model="usuario.login" type="text"
                                                           class="form-control" name="login" id="novo_login"
                                                           placeholder="Insira seu Login">
                                                    <div ng-messages="loginFormNovo.login.$error">
                                                        <div ng-if="loginFormNovo.login.$dirty || loginFormNovo.login.$touched"
                                                             ng-message="required" class="error text-center">
                                                            Campo Obrigatório
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="control-label" for="novo_password">Senha</label>
                                                    <input ng-class="{error : checarCampo(loginFormNovo.password,'required')}"
                                                           ng-required="true" ng-model="usuario.password" type="text"
                                                           class="form-control" name="password"
                                                           id="novo_password"
                                                           placeholder="Insira sua senha">
                                                    <div ng-messages="loginFormNovo.password.$error">
                                                        <div ng-if="loginFormNovo.password.$dirty || loginFormNovo.password.$touched"
                                                             ng-message="required" class="error text-center">
                                                            Campo Obrigatório
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label" for="novo_passwordConfirmation">Confirmação
                                                        da Senha</label>
                                                    <input ng-class="{error : checarCampo(loginFormNovo.passwordConfirmation,'required')}"
                                                           ng-required="true" ng-model="usuario.passwordConfirmation"
                                                           type="text" class="form-control" name="passwordConfirmation"
                                                           id="novo_passwordConfirmation"
                                                           placeholder="Confirme sua senha">
                                                    <div ng-messages="loginFormNovo.passwordConfirmation.$error">
                                                        <div ng-if="loginFormNovo.passwordConfirmation.$dirty || loginFormNovo.passwordConfirmation.$touched"
                                                             ng-message="required" class="error text-center">
                                                            Campo Obrigatório
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="row">
                                                <div class="col-md-6">
                                                    <br>
                                                    <div class="checkbox">
                                                        <label class="control-label" for="novo_status"><input
                                                                name="status" id="novo_status"
                                                                ng-model="usuario.status"
                                                                type="checkbox" value="">Status</label>
                                                    </div>
                                                </div>

                                            </div>-->
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-3">
                                                    <button ng-disabled="loginFormNovo.$invalid"
                                                            ng-click="salvarUsuario(usuario,loginFormNovo)"
                                                            type="submit"
                                                            class="btn btn-success btn-block form-control cadastro"
                                                    >Cadastrar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>